extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
    div(class='row')
        div(class='col-3')
          label(for='first_name') First Name:
          input#first_name.form-control(type='text', name='first_name' value=(undefined===user ? '' : user.first_name))
        div(class='col-3')  
          label(for='last_name') Last Name:
          input#last_name.form-control(type='text', name='last_name' value=(undefined===user ? '' : user.last_name))
    div(class='row')
        div(class='col-3')
            label(for='user_name') User Name:
            input#user_name.form-control(type='text', maxlength='10' name='user_name' value=(undefined===user ? '' : user.user_name))
    div(class='row')
        div(class='col-3')
          label(for='password') Password:
          input#password.form-control(type='password', maxlength='8' name='password' value='')
        div(class='col-3')  
          label(for='passwordConfirmation') Confirm Password:
          input#passwordConfirmation.form-control(type='password', maxlength='8' name='passwordConfirmation' value='')
    div(class='row')
        div(class='col-3')
            label(for='member_status') Enter Secret Password for Posting power (its "kobebryant" (RIP)):
            input#member_status.form-control(type='text', name='member_status' value='')
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg